<a routerLink="./add" *ngIf="usersService.canCreate">Agregar</a>


<p>Create: {{usersService.canCreate}} </p>
<p>Update: {{usersService.canUpdate}}</p>
<p>Read: {{usersService.canRead}}</p>
<p>Delete : {{usersService.canDelete}}</p>


<br> cargando .... <b>{{loading}}</b>


<section>

    <table border="1">
        <thead>
            <tr>
                <td>Nombre completo</td>
                <td>Email</td>
                <td>Rol</td>
            </tr>
        </thead>
        <tbody *ngFor="let user of users">
            <tr>
                <td>{{user.displayName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roles | rolenameformat}}</td>
                <td>
                    <a [routerLink]="['./edit', user.$key]">Editar</a>
                </td>
                <td>
                    <a (click)="toDownUser(user.$key)">Dar de baja</a>
                </td>
                <td>
                    <a (click)="deleteUser(user.$key)">Borrar</a>
                </td>
                <td>
                    <a (click)="toUpUser(user.$key)">Dar de alta</a>
                </td>
            </tr>
        </tbody>
    </table>

</section>